@import url("./colors.css");
* {
	border: none;
	border-radius: 0;
	font-family: "FiraCode Nerd Font";
	font-size: 14pt;
	min-height: 0;
}
window#waybar {
	background: black;
	color: white;
}
#workspaces button {
	min-width: 12px;
	opacity: 0.9;
	padding: 0 8px;
	color: #404040;
}
#workspaces button:hover {
	min-width: 12px; 
	opacity: 0.9;
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button.active {
	min-width: 12px;
	font-weight: bold;
	color: white;
}
