@import url("./colors.css");
* {
	border: none;
	border-radius: 0;
	font-family: "FiraCode Nerd Font";
	font-size: 13pt;
	min-height: 0;
}
window#waybar {
	background: @background;
	color: @foreground;
}
#workspaces button {
	min-width: 12px;
	opacity: 0.9;
	padding: 0 8px;
	background: @background;
	color: #404040;
}
#workspaces button:hover {
	min-width: 12px; 
	opacity: 0.9;
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button.active {
	min-width: 12px;
	background: @background;
	color: #ffffff
}
#taskbar button.active {
	background-image: linear-gradient(0deg, @selection, @background-darker);
}
#workspaces {
	padding-left: 6px 
}

#pulseaudio,
#battery,
#backlight,
#clock {
	color: @foreground;
}

#tray {
	padding-right: 6px
}

#custom-space {
	color: #808080;
	padding-left: 8px
}
